.sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
}

.sidebar {
    width: 200px;
    background-color: #1A788C;
    color: #fff;
    padding-top: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.sidebar-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #fff; /* Borde inferior para separar elementos */
    margin-bottom: 5px; /* Margen entre cada elemento */
    margin-left: 5px; /* Desplazar los elementos hacia la derecha */
}

.sidebar-item:last-child {
    border-bottom: none; /* Eliminar el borde inferior del último elemento */
}

.sidebar-item:hover {
    background-color: #04596B;
}

.submenu {
    background-color: #55BAD0;
    border-radius: 15px;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.submenu.open {
    max-height: 200px;
}

.submenu-item {
    cursor: pointer;
    padding: 10px;
}

.submenu-item:hover {
    background-color: #2E92B8;
}
