{% extends 'base/base.html' %}
{% block title %}Lista alimentos{% endblock title %}

{% block content %}
   
<div class="flex flex-row space-x-4">
    <p class="font-bold text-xl">Lista de alimentos</p>
    <a href="{% url 'nuevo_alimentos' %}" class="flex ml-8 gap-4 px-4 text-white items-center justify-center border-2 bg-blue-800 hover:bg-blue-600 hover:text-black active:bg-blue-200 active:text-black">Nuevo</a>
</div>
<div class="flex mb-8 flex-col w-full h-64 border-2 border-black">
    <div class="flex flex-row w-full h-fit border-black border-b-2">
        <p class="w-1/6">ID</p>
        <p class="w-1/6">Nombre</p>
        <p class="w-1/6">Marca</p>
        <p class="w-1/6">Precio</p>
        <p class="w-1/6">Fecha de vencimiento</p>
        <p class="w-1/6">ACTIONS</p>
    </div>
    <div class="flex flex-col w-full max-h-64 overflow-y-auto">
        {% for obj in alimentos %}
            <div class="flex flex-row w-full h-fit odd:bg-white even:bg-gray-300">
                <div class="w-1/6">{{ obj.id }}</div>
                <div class="w-1/6">{{ obj.nombre }}</div>
                <div class="w-1/6">{{ obj.marca }}</div>
                <div class="w-1/6">{{ obj.precio }}</div>
                <div class="w-1/6">{{ obj.fecha_vencimiento }}</div>
                <div class="w-1/6 flex flex-row space-x-2">
                    <a 
                        href="{% url 'editar_alimentos' obj.id %}" 
                        class="flex gap-4 px-4 text-white items-center justify-center border-2 bg-blue-800 hover:bg-blue-600 hover:text-black active:bg-blue-200 active:text-black"
                    >
                        Update
                    </a>
                    <a 
                        href="{% url 'eliminar_alimentos' obj.id %}"
                        class="flex gap-4 px-4 text-white items-center justify-center border-2 bg-red-800 hover:bg-red-600 hover:text-black active:bg-red-200 active:text-black"
                    >
                        Delete
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}