{% block title %}Lista utensilios{% endblock title %}

{% block content %}
   

    <table class="table table-striped">
        <thead>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Esterilizable</th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for obj in utensilios %}
                <tr>
                    <td>{{ obj.nombre }}</td>
                    <td>{{ obj.precio }}</td>
                    <td>{{ obj.cantidad }}</td>
                    <td>{{ obj.esterilizable }}</td>
                    <td><a href="" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}